.product-container {
  grid-column: 1/8;
  margin-right: 2rem;
}

.product-container h2 {
  margin: 0;
  padding-bottom: 0.5rem;
}

.card-book{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 2rem;
  box-shadow: 0px 1px 5px 0px #676767;
}

.book-image {
  grid-column: 1/4;
}

.book-detail {
  grid-column: 4/11;
  padding: 0 1rem;
}

.book-detail h3 {
  margin: 0;
}

.book-detail button {
  background-color: #f2cb69;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
}

.book-detail button:hover {
  background-color: #f3a847;
}

.book-detail button:active {
  border: none;
}

.book-detail button:visited {
  border: none;
}
.book-image {
  width: 100%;
}

